# Test artifacts
tests/outputs/
tests/assets/

# Virtual environments
.venv/
env/
venv/

# OS-specific
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]

# Logs
*.log

output/

# Build artifact
*.egg-info/